<div class="container-fluid">
  <app-page-title title="النظرة العامة" [breadcrumbItems]="breadCrumbItems"></app-page-title>


  <div class="row">
    <div class="col-lg-6">
      <div class="card-box" dir="ltr">
        <h4 class="header-title">مخطط شريطي مكدس</h4>
        <p class="sub-header">
          مخطط شريطي أفقي.
        </p>
        <!-- Stacked bar chart -->
        <lib-ngx-chartist [data]="stackBarChart.data" [options]="stackBarChart.options" [type]="stackBarChart.type"
          [events]="stackBarChart.events">
        </lib-ngx-chartist>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card-box" dir="ltr">
        <h4 class="header-title">احصائيات المبيعات </h4>
        <p class="sub-header">
          مخطط شريطي دائري
        </p>
        <!-- Stacked bar chart -->
        <lib-ngx-chartist [data]="donutAnimateChart.data" [options]="donutAnimateChart.options" [type]="donutAnimateChart.type"
          [events]="donutAnimateChart.events">
        </lib-ngx-chartist>
      </div>
    </div>
  </div>
</div>